.c-icon {
    @include baseIcon(
        20px,
        $icon_color,
        40px,
        40px
    );
    padding: 8px;
    margin: 0 16px 0 0;
}

.c-icon_link {
    // width: 40px;
    // height: 40px;
    // margin: 0 10px 0 0;
    box-sizing: border-box;
    a {
        @include baseIcon(
            20px,
            $icon_color,
            40px,
            40px
        );
        padding: 8px;
        display: inline-block;
        vertical-align: middle;
    }
}
.c-icon_sidebar {
    width: 24px;
    height: 24px;
    font-size: 20px;
    margin-right: 24px;
}